* {
    box-sizing: border-box;
    background-clip: border-box;
    position: relative;
    overflow: visible;
    margin: 5px;
    padding: 5px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    
    
}

a {
    text-decoration: none;
    font-size: large;
}
a:hover{
    color: blue;
}
input{
    border: 1px solid black;
}
button {
    border: 1px solid black;
}
.thanhtaikhoan {
    display: none;
    width: 100%;
    position: absolute;
    border-radius: 6px;
    top: 150px;

}